.rich h1 {
  text-align: center;
  font-size: 2.25rem; /* text-[2.25rem] */
  font-weight: 700; /* font-bold */
  letter-spacing: -0.015em; /* tracking-tight */
  text-wrap: balance; /* text-balance */
}

.rich h2 {
  border-bottom: 1px solid rgb(229 231 235 / 1); /* border-b (gray-200 default) */
  padding-bottom: 0.5rem; /* pb-2 */
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600; /* font-semibold */
  letter-spacing: -0.015em; /* tracking-tight */
}

.rich h3 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  letter-spacing: -0.015em; /* tracking-tight */
}

.rich h4 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  letter-spacing: -0.015em; /* tracking-tight */
}

.rich p {
  line-height: 1.75rem; /* leading-7 */
}

.rich p:not(:first-child) {
  margin-top: 1rem; /* mt-4 */
}

.rich blockquote {
  margin-top: 1.5rem; /* mt-6 */
  border-left: 2px solid rgb(229 231 235 / 1); /* border-l-2 */
  padding-left: 1.5rem; /* pl-6 */
  font-style: italic;
}

.rich code {
  background-color: rgb(243 244 246 / 1); /* bg-muted (gray-100) */
  position: relative;
  border-radius: 0.25rem; /* rounded */
  padding: 0.2rem 0.3rem;
  font-family: monospace;
  font-size: 0.875rem; /* text-sm */
  font-weight: 600; /* font-semibold */
}

.rich ul {
  margin: 0.25rem 0; /* my-1 */
  margin-left: 1.5rem; /* ml-6 */
  list-style-type: disc;
}

.rich ul > li {
  margin-top: 0.5rem; /* mt-2 */
}

.rich ol {
  margin: 0.25rem 0; /* my-1 */
  margin-left: 1.5rem; /* ml-6 */
  list-style-type: decimal;
}

.rich ol > li {
  margin-top: 0.5rem; /* mt-2 */
}
