PORT=
DB_URL=
JWT_ACCESS_SECRET=
JWT_TRYOUT_SECRET=
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
BREVO_SMTP_HOST=
BREEVO_SMTP_PORT=
ENVIRONMENT=development
POSTGRES_USER=
FRONTEND_URL=
POSTGRES_PASSWORD=
POSTGRES_DB=
CORS_URL=
COOKIE_DOMAIN=
ADMIN_EMAIL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=