# Envirnoment variables used for timed announcements and other features.
NEXT_PUBLIC_WEBSITE_RELEASE=
NEXT_PUBLIC_THEME_REVEAL=
NEXT_PUBLIC_COUNCILS_REVEAL=
NEXT_PUBLIC_CHAIRS_REVEAL=
NEXT_PUBLIC_PRICE_REVEAL=
NEXT_PUBLIC_REGISTRATION=
NEXT_PUBLIC_TRAILER_REVEAL=
NEXT_PUBLIC_CC_REVEAL= # Custom variable for council and country reveal
NEXT_PUBLIC_TIMELINE_AND_STUDY_GUIDE_REVEAL= # Custom variable for timeline and study guide reveal

# Base URL for the website
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# API URLs 
API_URL=
NEXT_PUBLIC_API_URL=

NODE_ENV=development